<div class="header">
  <img [src]="extended ? 'assets/logo-bonus.svg' : 'assets/logo.svg'" alt="logo">
  <div class="score">
    <h2>SCORE</h2>
    <h1>{{score}}</h1>
  </div>
</div>
<div *ngIf="!result && !extended" class="selector">
  <div id="1" class="image paper" (click)="onClick($event)">
    <img id="1" src="assets/icon-paper.svg" alt="paper">
  </div>
  <div id="2" class="image scissors" (click)="onClick($event)">
    <img id="2" src="assets/icon-scissors.svg" alt="scissors">
  </div>
  <div id="0" class="image rock" (click)="onClick($event)">
    <img id="0" src="assets/icon-rock.svg" alt="rock">
  </div>
</div>
<div *ngIf="!result && extended" class="selector-extended">
  <div id="1" class="image paper" (click)="onClick($event)">
    <img id="1" src="assets/icon-paper.svg" alt="paper">
  </div>
  <div id="2" class="image scissors" (click)="onClick($event)">
    <img id="2" src="assets/icon-scissors.svg" alt="scissors">
  </div>
  <div id="0" class="image rock" (click)="onClick($event)">
    <img id="0" src="assets/icon-rock.svg" alt="rock">
  </div>
  <div id="3" class="image lizard" (click)="onClick($event)">
    <img id="3" src="assets/icon-lizard.svg" alt="lizard">
  </div>
  <div id="4" class="image spock" (click)="onClick($event)">
    <img id="4" src="assets/icon-spock.svg" alt="spock">
  </div>
</div>
<div *ngIf="result" class="result">
  <h2 class="your-text">YOU PICKED</h2>
  <div class="image your-choice" [ngClass]="{'rock': playerPicked === 0, 'paper': playerPicked === 1, 'scissors': playerPicked === 2, 'lizard': playerPicked === 3, 'spock': playerPicked === 4}">
    <img [src]="getSelectedImage(playerPicked)" alt="your-choice">
  </div>
  <h1 class="result-message">{{getResultMessage()}}</h1>
  <button mat-button (click)="onNewGame($event)">PLAY AGAIN</button>
  <h2 class="house-text">HOUSE PICKED</h2>
  <div class="image house-choice" [ngClass]="{'rock': housePicked === 0, 'paper': housePicked === 1, 'scissors': housePicked === 2, 'lizard': housePicked === 3, 'spock': housePicked === 4}">
    <img [src]="getSelectedImage(housePicked)" alt="house-choice">
  </div>
</div>
<div class="buttons">
  <button mat-button (click)="onChangeMode($event)">EXTENDED</button>
  <button mat-button (click)="onOpenRules($event)">RULES</button>
</div>
<div *ngIf="showRules" class="rules">
  <div>
    <h1>RULES</h1>
    <button mat-button (click)="onCloseRules($event)"><img src="assets/icon-close.svg" alt="close"></button>
  </div>
  <div class="image">
    <img [src]="extended ? 'assets/image-rules-bonus.svg' : 'assets/image-rules.svg'" alt="rules">
  </div>
</div>
